<!DOCTYPE html>
    
<html ng-app="detailApp">
  
     <!-- <frameset rows="100,*,40" frameborder="yes" border="5" framespacing="0">
        <frame src='/header' name="leftFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" border="0">-->
          <frameset cols="200,*" frameborder="yes" border="5" framespacing="0">     
              <frame src='/home' name="leftFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" border="0">
              <frame src='/page' name="mainFrame" scrolling="Auto" noresize="noresize" id="mainFrame" title="mainFrame" border="0">
          </frameset>
        <!--<frame src='/footer' name="leftFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" border="0">
      </frameset>-->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>

      <script type="text/javascript" src="/js/app.js"></script>
      <script type="text/javascript" src="/js/controllers/details-controller.js"></script>

</html>

<!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js -->